@font-face {
  font-family: crescendo;
  src: url(Crescendo.ttf);
}

.content-card {
  width: 100px;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
  border-radius: 10px;
  margin-top: 20px;
  padding: 0px 30px;
}

.card-container img {
  height: 100%;
  background-color: black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: 0 0 0 0 black;
}

.movie-title {
  line-height: 25px;
  font-family: crescendo;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(79, 79, 79);
  background-color: rgba(0, 0, 0, 0.864);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 3px;
}

.flip {
  min-width: 300px;
  position: relative;
  transition: 0.7s ease;
}

.flip .full-poster {
  position: absolute;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 1rem;
  color: antiquewhite;
  font-weight: 200;
  background-color: rgb(0, 0, 0);
  padding-top: 5px;
  transform: perspective(600px);
  transform-origin: 100% 50%;
  transform-style: preserve-3d;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 1s;
  z-index: 10;
}

.flip .full-poster img {
  height: 400px;
  object-fit: cover;
  border: 8px solid black;
  box-sizing: border-box;
  border-radius: 15px !important;
}

.flip:hover .full-poster {
  box-shadow: 1px 1px 8px 4px rgb(140, 186, 255);
  transform: perspective(1200px) rotateY(60deg) translateX(100%);
}

.flip .flip-1,
.flip .flip-2 {
  position: absolute;
  backface-visibility: hidden;
}

.flip .flip-2 {
  transform: rotateY(-20deg);
}

.info {
  font-weight: 600;
  font-size: 1rem;
  color: orange;
  font-size: 1rem;
  display: block;
}

#info-container {
  padding: 10px 20px 0 10px;
  position: absolute;
  justify-content: center;
  top: 50px;
  margin-top: auto;
  margin-bottom: auto;
  height: 10px;
  color: orange;
}

.link-and-date {
  display: inline-block;
  font-family: crescendo;
  font-size: 1rem;
  font-weight: 600;
}

.info-overview {
  position: relative;
  color: orange;
  font-size: 0.8rem;
  display: block;
  padding: 0.8rem, 1rem;
}

.link-info {
  color: orange !important;
  text-decoration: none;
  border: 1px solid orange;
  padding: 5px 7px 7px;
  border-radius: 10px;
  transition: 0.05s;
  margin-left: 10px;
}

.link-info:hover {
  background-color: rgb(214, 114, 32);
}
